body{

    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    background-color: #3d4b52;
    margin: 0px;
    padding: 0px;
    color: white;

}

p{

    color: black;
}

* { box-sizing:border-box; }

h1{
    font-weight: normal; 
    margin-left: 20px;
    margin-top: 6px;
    font-size: 18px;
    color: black;
}

h2{
    margin-left: 20px;
    margin-top: 0px;
    font-size: 16px;
    color: black;
}

#chords_bar{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 40px;
    width: 100%;
    height: 200px;
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
    padding: 10px;
    padding-top: 20px;
    background: inherit;
}

.chord_btn{
    font-size: 12px;
    width: 48px;
    height: 48px;
    border: 1px solid transparent;
    background: transparent;
    color: black;
    border-radius: 100%;
    margin: 2px;
    margin-left: 10px;
    margin-top: 0px;
    outline: none;
}

.chord_btn:hover{
  cursor: pointer;
  background: cornflowerblue;
  color: white;  
}

.chord_btn:active{
    box-shadow:2px 2px 2px 2px cornflowerblue;
    border: 2px solid cornflowerblue;
    color:white;  
}


button{
    font-size: 18px;
    font-weight: bold;
    color:dimgray;
}


/*canvas*/


#canvas{

    width: 68%;
    height: 480px;
    margin-left: auto;
    margin-right: 2px;
    margin-bottom: 2px;
    display: block;
    background: #3d4b52;
}

/*----------*/
ul {
   
    height:13em; width:55em;
    margin:5em auto; padding:2em 0 0 2em; 
    margin-right: 14em;
    margin-top:8px;

    border:1px solid #7cb342; border-radius:8px;
    background:#3d4b52; 
   
    object-fit: fill;
  
     }

  li { margin:0; padding:0; list-style:none; position:relative; float:left; }
  
  ul .white {
      height:9em; width:3em; z-index:1;
      border:1px solid #7cb342;
      border-radius:0 0 8px 8px;
      background: inherit;
      position: relative;
      border-radius: 0 0 4px 4px;
      outline: none;
      
  }
  
  ul .white:active {
      background: cornflowerblue;
      border: 2px solid cornflowerblue;
      color: white;
  }

   ul.white:focus{
    background: cornflowerblue;
    border: 0px white;
    color: white;
  }
  
  .black {
      height:5em; width:2em; margin:0 0 0 -1em; z-index:2;
      border:2px solid #7cb342;
      border-radius:0 0 4px 4px;
      background:#7cb342;
  }
  
  .black:active {
      background: orange;
      border: 0px;
      color:black;
  }
  
  .a,.g,.f,.d,.c { margin:0 0 0 -1em;  }
  
  ul:li:first-child{
  
      border-left:1px solid white;
  }

/*---------*/



#footer{
  text-align: center;
}

p{
    font-family: futura-pt, sans-serif;
}


#keyboardInfor{
    border: 2px solid transparent;
    border-radius: 4px;
    width: auto;
    height: auto;
    background: transparent;
    color: black;
    margin-top: 0px;
    margin-left: 80%;
    margin-bottom: 10px;
    font-size: 11px;
    font-weight: bold;
    padding: 2px;
}


.picBox{
    float: left;
    margin: 24px;
    margin-left: 28px;
    margin-top: 2px;
    width: 16px;
    height: 16px;
    color: white;
    cursor: pointer;
}

#infor{
    width: 100%; 
    height: 160px;
    position: relative;
    margin-top: 100%;
    background-color:inherit;
    padding: 4px;
    color: black;
   
}


#infor_box{
    width: 100%;
    height: inherit;
    margin: 0 auto;
    margin-top: 100%;
}

#pianoInfo{
    margin-left: 30px;
    color: black;
}

#menuBar{
    margin-top: 0px;
    width: 20%;
    float: left;
    margin-bottom: 20px;
    height: 100%;
    background: white;
    border: 1px solid white;
    padding: 0px;
    padding-top: 40px;
    box-shadow: 4px grey;
}

#icon{

    width: 32px;
    height: 32px;
    float: left;
    margin-right: 8px;
    margin-left: 10%;
}

a{
    text-decoration: none;
    color: black;
}
#main_div{
    position: relative;
    margin: 0px;
    width: 100%;
    height: 100%;
}

#copyright{

    margin: 10px;
    margin-top: 100%;
    margin-left: 30px;
    font-size: 12px;
}
